@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Nanum+Myeongjo:wght@700&family=Roboto:wght@100&display=swap');


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
   /* overflow: hidden;*/
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: inherit;
    /*overflow: inherit;*/
    overflow-x: inherit;
    }

   


    header{
        background-color: rgb(0, 0, 0);
        padding: 10px;
        /* position: fixed;
        width: 100%;
        z-index: 1000; */
     
       
        } 

.headeri{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emri{
    font-family: 'Arsenal', sans-serif;
    color: white;

}

.linqet{
  
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'Arsenal', sans-serif;
    font-family: 'Cormorant', serif;
}

.linqet:hover{
 font-family: 'Arsenal', sans-serif;
font-family: 'Cormorant', serif;
text-decoration: none;
color: lightgray;
font-weight: 600;
font-size: 17px;
text-decoration: underline;
transition: 0.3s ease-in-out;
}

nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    width: 90px;
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Roboto', sans-serif;
}

nav button:hover{
    color: black;
    background-color: white;
    border: black solid 2px;
    transition: 0.4s ease-out;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.food-item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgb(207, 204, 204);
    opacity: 0.8;
}

.food-item:hover {
    border: 2px solid rgb(61, 60, 60);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
  
}
/* 
.food-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
} */

.food-item img {
    width: 190px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}




@media only screen and (max-width: 1284px) {
    body {
        overflow-x: hidden;
    }
    
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        overflow-x: hidden;
    }
    .headeri {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* position: fixed;
        z-index: 1000; */
    }

    .emri {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .linqet {
        margin: 5px 0;
        font-size: 16px;
        margin-right: 4px;
    }
   

    .nav{
        position: relative;
        top: 30px;
    }
}